

 
  body  {
    font-family: 'Roboto', sans-serif;
  }

  
  /* global variable */
  :root{
    --dark-primary:#1b1f24;
    --primary:#12bdff;
    --primary-hover:#29718d;
  }

*{
    margin :0;
    padding:0;
    box-sizing: border-box;

}


header .logo {
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}

header ul {
    display: flex;
    list-style-type: none;
    
}
header ul li {
    margin-right: 30px;
    font-weight: bold;
}

header ul li a{
    color:white;
    text-decoration: none;
    
}

header ul li a:hover {
  color: var(--primary);
}
/* header > buttons */
header button {
    padding: 10px 20px;
    font-weight: 700;
    background-color: var(--dark-primary);
    border:1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
}

header button:hover {
  cursor: pointer;
  background-color: var(--primary);
  color:white;
}

/* section:home page */
section.model-section {
  background-color: var(--dark-primary);
color: #fff;
display:flex;
align-items: center;
padding: 20px 30px 0px 30px;
justify-content: space-around ;
}
.model-section__tittle {
  font-size: 50px;
  font-weight: 700;
  color: #12bdff;
  
}

.model-section__place {
  font-size: 34px;

}

.social-icons li  {
 margin-right: 15px;
 margin-top: 15px;
  
}

ul.social-icons  {
  display: flex;
  list-style-type: none;
}

.social-icons li >a {
  text-decoration: none;
  color: #fff;
}
 

.social-icons li > a :hover {

  color: #12bdff;
}

/* button */
.btn {
margin: 10px 10px 0px 0px;
border-radius: 5px;
cursor: pointer;
padding: 5px 4px;

}

.btn.btn-primary {
  background-color: var(--primary);
  font-weight: 700;
  color: #160404;
}

.btn.btn-primary:hover {
  color: var(--primary);
background-color: var(--dark-primary);
border-color:  var(--primary);
border
}


/* header button */
header{
  
 padding:10px 20px;
color:#fff;
background-color: var(--dark-primary);
display: flex;
 justify-content:space-around;
 align-items: center;
}